.article
    .article__view__content
        max-width: 740px
        padding-left: 20px
        padding-right: 20px
        margin: 0 auto
        .article__view__header
                font-weight: 600
                font-size: 56px
                margin-left: -2.63px
                line-height: 1.04
                letter-spacing: -.015em
                padding-top: 5px!important
                font-family: elevate-display-font,medium-marketing-display-font,Georgia,Cambria,"Times New Roman",Times,serif!important

.featured-image
    margin: 0

.ui.card 
    width: 271px !important

.article-body
    display: block !important
    width: 77% !important
    margin: 0 auto !important

.article-container 
    max-width: 1046px !important
