.comment-box
    width: 80% !important
    display: block !important
    margin: 0 auto !important
    margin: 2% !important
    padding: 1%
    border-radius: 5px !important

.rounded
    border: solid 1px #dedede

.thread
    border: solid 1px #dedede

.comment-thread
    width: 60% !important
    display: block !important
    float: left !important
    margin: 2% !important
    margin-left: 22% !important
    padding: 1%
    border-radius: 5px !important
    border: solid 1px #dedede

.comment-wrapper
    width: auto !important
    overflow: auto !important


.thread-content
    padding-top: 20px

.comment-container
    display: block !important
    margin: 0 auto
    width: 70%
    padding-left: 20px

.comment-area
    width: 75%
    display: block
    margin: 0 auto

.comments-header
    padding-left: 20px

.commentusercard
    padding-bottom: 5%