.user__avatar
    max-width: 50px
    max-height: 50px
    border-radius: 50%
    overflow: hidden

.user__details
    margin-left: 4px
    padding: 12px

.comment-box
    overflow: auto
    padding: 2%

.comment-header
    width: 100%

.header-container
    width: 100%
    padding: 2%

.comment-image
    min-width: 70px